<table>
  <col width=100>
  <col width=100>
  <col width=100>
  <col width=100>
  <tr>
    <th align="left">View</th>
    <th align="left">Preview</th>
    <th align="left">State</th>
    <th align="left">Action</th>
  </tr>
<% lockets.each do |locket| %>
  <tr>
    <td><%= link_to locket.title, site_user_locket_path(current_user, locket.id) %></td>
    <td><%= image_tag locket.closed_image.image.url(:thumb) %></td>
    <td><%= locket.state_string %></td>
    <td><%= link_to 'delete', site_user_locket_path(current_user, locket), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
  </tr>
<% end %>
</table>
