<div class="wrapper bgded overlay" style="background-image:url('<%= asset_path("lockets.jpg") %>');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article class="introtxt">
      <h2 class="heading">Welcome to mobilelocket!</h2>
      <p>Please register to create lockets.</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><%= link_to 'sign in', new_user_session_path, class: "btn" %></li>
          <li><%= link_to 'register', new_user_registration_path, class: "btn inverse" %></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>

<!--%= render 'layouts/contact_info' %-->
